.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #000;
  background: #fff;
}

.App-link {
  color: #61dafb;
}

.start {
  text-align: center;

  div {
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      cursor: pointer;
      margin: 0 .5rem;
    }

    h2 {
      margin: 1rem;

      a {
        cursor: pointer;
      }
    }
  }
}

.end {
  text-align: center;
  margin: 0 0 1rem;

  h1 {
    margin: 0;
  }

  button{
    border: 0;
    padding: .5rem;
    background: #069;
    border-radius: 4px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
  }
}

.grid-board {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-column-gap: 0.5rem;
  grid-row-gap: 0.4em;
  background: #333;

  div {
    width: 10rem;
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;

    button {
      width: 100%;
      height: 100%;
      background: transparent;
      border: 0;
      cursor: pointer;

      &:hover {
        background: #efefef;
      }
    }
  }
}

.success, .success2, .success3, .success4, .success5, .success6, .success7, .success8 {
  border: 3px solid #990000;
  position: absolute;
  background: #990000 !important;
  animation-duration: .3s;
}

.success {
  left: 2rem;
  top: 5rem;
  width: 85%;
  animation-name: slidein;
}

.success2 {
  left: 2rem;
  top: 50%;
  width: 85%;
  animation-name: slidein;
}

.success3 {
  left: 2rem;
  bottom: 5rem;
  width: 85%;
  animation-name: slidein;
}

.success4 {
  left: 5rem;
  top: 2rem;
  height: 85%;
  animation-name: slidein2;
}

.success5 {
  left: 50%;
  top: 2rem;
  height: 85%;
  animation-name: slidein2;
}

.success6 {
  right: 5rem;
  top: 2rem;
  height: 85%;
  animation-name: slidein2;
}

.success7 {
  left: 50%;
  top: 2rem;
  height: 85%;
  transform: rotate(-45deg);
  animation-name: slidein3;
}

.success8 {
  left: 50%;
  top: 2rem;
  height: 85%;
  transform: rotate(45deg);
  animation-name: slidein4;
}

@keyframes slidein {
  from {
    width: 0;
  }

  to {
    width: 85%;
  }
}

@keyframes slidein2 {
  from {
    height: 0;
  }

  to {
    height: 85%;
  }
}

@keyframes slidein3 {
  from {
    height: 0;
    left: 15%;
    top: 5rem;
  }

  to {
    height: 85%;
    left: 50%;
    top: 2rem;
  }
}

@keyframes slidein4 {
  from {
    left: 87%;
    top: 3.5rem;
    height: 0;
  }

  to {
    left: 50%;
    top: 2rem;
    height: 85%;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
